__pycache__/
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.mp4
*.mov
*.avi
*.jpg
*.png
*.jpeg
*.jpg
*.pt
*.txt
temp/
*.pyc
.env
settings.json
static/output.mp4
data/
dataset/
object_detection_app/custom_dataset/**
requirements.txt
.vscode/
.idea/
